* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #101010;
  padding-top: 81px;
  width: 1440px;
  height: 890px;
  overflow: hidden;

  .contact {
    line-height: 77px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 500;
  }

  .autoWrapper {
    position: relative;
    margin-top: 202px;
    width: 1588px;
    height: 675px;

    .lonely {
      position: absolute;
      top: 0;
      left: 0;
      width: 1588px;
      height: 675px;
      line-height: 675px;
      letter-spacing: 0;
      color: #000000;
      font-family: "Satoshi Variable", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 500px;
      font-weight: 900;
    }

    .frame1 {
      display: flex;
      position: absolute;
      top: -185px;
      left: 582px;
      flex-direction: column;
      align-items: flex-start;
      padding: 21px 12px;
      width: 424px;
      height: 216px;
      overflow: hidden;
      row-gap: 15px;

      .frame2 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 16px;

        .mail {
          flex-shrink: 0;
          width: 48px;
          height: 48px;
          overflow: hidden;
        }

        .liuQinyuOutlookCom {
          flex-shrink: 0;
          line-height: 43px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Satoshi Variable", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 32px;
          font-weight: 500;
        }
      }
    }
  }
}
