* {
  box-sizing: border-box;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 412px 282px 26px;
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  background-image: url(../image/mqjgci3g-aqze71s.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    line-height: 159px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "Cabinet Grotesk Variable", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 128px;
  }

  .title2 {
    line-height: 40px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "Cabinet Grotesk Variable", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 32px;
  }

  .copyrightLonely2026 {
    margin: 347px 0px 0px;
    line-height: 40px;
    letter-spacing: 0;
    color: #ffffff66;
    font-family: "Cabinet Grotesk Variable", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 32px;
  }
}
